.DS_Store
out.txt
*.yaml
*.txt
test.py
__pycache__
ErrorShot
Alter_Table_SeekingAlpha_Articles.sql
Insert_Table_SeekingAlpha_Articles.sql
Create_Table_SeekingAlpha_Articles_Original.sql
SQLQuery3.sql
*.csv
*.xlsx